<table class="striped responsive-table f12">
  <thead>
    <tr>
      <th>Número</th>
      <th>Cliente</th>
      <th>Modalidades</th>
      <th>Data Validade</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <%= render @licenses %>
  </tbody>
</table>