<table class="striped responsive-table f12">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Documento</th>
      <th>Nascimento</th>
      <th>E-mail</th>
      <th>Fone</th>
      <th>Habilitação?</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <%= render @people %>
  </tbody>
</table>