<table class="striped responsive-table f12">
	<thead>
		<tr>
			<th>Cliente</th>
			<th>Automóvel</th>
			<th>Início</th>
			<th>Fim</th>
			<th>Retirada</th>
			<th>Entrega</th>
			<th>Custo</th>
			<th>#</th>
		</tr>
	</thead>
	<tbody>
		<%= render @rents %>
	</tbody>
</table>