<div class="card">
	<div class="card-content">
		<%= form_for rents_path, url: rents_path, remote: true, method: :get, html: { id: :rents_filter_form } do |f| %>
			<div class="row">
				<div class="col s12 m6 l3">
					<div class="input-field">
						<%= f.text_field :codigo, id: "codigo", name: :codigo  %>
						<label class="active" for="codigo">Código</label>
					</div>
				</div>
				<div class="col s12 m12 l12">
					<div class="action  ">
						<button id="buscar" type="submit" class="btn shadow blue right">Buscar</button>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
<div class="card">
	<div class="card-content">
		<%= link_to "Novo", new_rent_path, class: "btn green" %>
		<div id="rents_list">
			<%= render "list" %>
		</div>
	</div>
</div>
