<table class="striped responsive-table f12">
	<thead>
		<tr>
			<th>Cor</th>
			<th>Modelo</th>
			<th>Ano</th>
			<th>Placa</th>
			<th>Tipo</th>
			<th>Custo</th>
			<th>#</th>
		</tr>
	</thead>
	<tbody>
		<%= render @automobiles %>
	</tbody>
</table>